:root {
  --ion-color-primary: #c34b5a;
  --ion-color-primary-rgb: 195, 75, 90;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #ac4250;
  --ion-color-primary-tint: #ca5d6b;

  --ion-color-secondary: #f7c8c8;
  --ion-color-secondary-rgb: 247, 200, 200;
  --ion-color-secondary-contrast: #2b1a1a;
  --ion-color-secondary-contrast-rgb: 43, 26, 26;
  --ion-color-secondary-shade: #d9b0b0;
  --ion-color-secondary-tint: #f8cfcf;

  --ion-color-tertiary: #ffebe6;
  --ion-color-tertiary-rgb: 255, 235, 230;
  --ion-color-tertiary-contrast: #2b1a1a;
  --ion-color-tertiary-contrast-rgb: 43, 26, 26;
  --ion-color-tertiary-shade: #e0cec9;
  --ion-color-tertiary-tint: #ffefe9;

  --ion-color-success: #7bbf85;
  --ion-color-success-rgb: 123, 191, 133;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #6ca877;
  --ion-color-success-tint: #8cc690;

  --ion-color-warning: #ffcf9f;
  --ion-color-warning-rgb: 255, 207, 159;
  --ion-color-warning-contrast: #2b1a1a;
  --ion-color-warning-contrast-rgb: 43, 26, 26;
  --ion-color-warning-shade: #e0b78c;
  --ion-color-warning-tint: #ffd4a9;

  --ion-color-danger: #e05b5b;
  --ion-color-danger-rgb: 224, 91, 91;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #c95151;
  --ion-color-danger-tint: #e36c6c;

  --ion-color-dark: #2b1a1a;
  --ion-color-dark-rgb: 43, 26, 26;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #251616;
  --ion-color-dark-tint: #3f2e2e;

  --ion-background-color: #fff7f4;
  --ion-text-color: #2b1a1a;
  --ion-card-background: rgba(255, 255, 255, 0.86);
}
